<!DOCTYPE html>
<html lang=" rus">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Гритчин Георгий. {% block lab %}{% endblock %}</title>
    {% if request.cookies.get('color') %}
    <style>
        body{
            color: {{ request.cookies.get('color') }};
        }
    </style>
    {% endif %}
    {% if request.cookies.get('background') %}
    <style>
        body{
            background: {{ request.cookies.get('background') }};
        }
    </style>
    {% endif %}
    {% if request.cookies.get('font-size') %}
    <style>
        body{
            font-size: {{ request.cookies.get('font-size') }};
        }
    </style>
    {% endif %}
</head>
<body>
    <header>
        НГТУ, ФБ, WEB-программирование, часть 2. {{ self.lab() }}
    </header> 

    <main>
        {% block main %}
        <a href="http://127.0.0.1:5000/menu" target="_blank">Меню</a>
        {% endblock %}
    </main>

    <footer>
        &copy; Гритчин Георгий, ФБИ-12, 3 курс, 2023
    </footer>
    
</body>
</html>