{% extends "base.html" %}

{% block lab %}Лабораторная работа 7{% endblock %}

{%block script%}
    <script src="{{url_for('static', filename='lab7/drink.js')}}"></script>
{%endblock%}

{% block main %}
    <H1>Заказ напитка</H1> 

        <div>напиток:</div>
        <label>
            <input type="radio" value="coffee" name="drink" checked>кофе
        </label>
        <label>
            <input type="radio" value="black tea" name="drink" checked>черный чай
        </label>
        <label>
            <input type="radio" value="green tea" name="drink" checked>зеленый чай
        </label>

        <div>Добавки:</div>
        <label>
            <input type="checkbox" name="milk">молоко
        </label>
        <label>
            <input type="checkbox" name="sugar">сахар
        </label>

        <div>
            <button onclick="getPrice()">Рассчитать цену</button>
        </div>

        <div id='price'>{{price}}</div>


        <div id="pay" style="display:none;">
            <div>Номе банковской карты:</div>
            <label>
                <input type="text" name="card_num">
            </label>

            <div>Имя держателя карты:</div>
            <label>
                <input type="text" name="name">
            </label>

            <div>Номер cvv:</div>
            <label>
                <input type="text" name="cvv" size="3">
            </label>

            <div>
                <button onclick="pay()">pay</button>
            </div>
        </div>

        <div id="refund" style="display: none;">
            <label><input class="text_input_form" type="text" name="cvv" size="3"></label>
            <div><br><button class="text_input_form" type="submit" onclick="refund()">Возврат</button></div>
            <br>
        </div>

{%endblock%}